<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Terning kast!</title>

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
		<link href="css\style.css" rel="stylesheet" />
		<link rel="icon" type="image/png" href="css\fav.gif" />

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<style>

        
        
       

</style>
	</head>

	<body ng-app ng-controller="doKast">

		<div id="main">

			<div class="tooltip" >

				<input type="text" ng-model="value" onkeyup="chk(this);" onkeypress="validate(event)" />
				<button ng-click="do(); graph();">KAST!</button>
			</div>
		<svg id="visualisation" width="1000" height="500" onload=""></svg>
		</div>


		<script src="http://d3js.org/d3.v2.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="scripts\script.js"></script>
	</body>
</html>
