/* --------------------------------- 
  Mixins 
--------------------------------- */
#moon, .circle {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
img .circle{
  pointer-events: none;
  height:0px;
  overflow:visible;
}
span {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#moonp{
  cursor: pointer;
}

#moon {
  position: absolute;
  fill: #FCF8F4;
  fill-rule: evenodd;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 50%;
}

/* --------------------------------- 
  Circles 
--------------------------------- */
.circle {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background-color: #D17FA8;
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.circle1:nth-child(11n+0) {
  -webkit-animation: undulate 5s forwards;
  -moz-animation: undulate 5s forwards;
  -o-animation: undulate 5s forwards;
  animation: undulate 5s forwards;
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}

.circle1:nth-child(11n+1) {
  -webkit-animation: undulate 5s forwards;
  -moz-animation: undulate 5s forwards;
  -o-animation: undulate 5s forwards;
  animation: undulate 5s forwards;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.circle1:nth-child(11n+2) {
  -webkit-animation: undulate 5s forwards;
  -moz-animation: undulate 5s forwards;
  -o-animation: undulate 5s forwards;
  animation: undulate 5s forwards;
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

.circle1:nth-child(11n+3) {
  -webkit-animation: undulate 5s forwards;
  -moz-animation: undulate 5s forwards;
  -o-animation: undulate 5s forwards;
  animation: undulate 5s forwards;
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}

.circle1:nth-child(11n+4) {
  -webkit-animation: undulate 5s forwards;
  -moz-animation: undulate 5s forwards;
  -o-animation: undulate 5s forwards;
  animation: undulate 5s forwards;
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms;
}

.circle1:nth-child(11n+5) {
  -webkit-animation: undulate 5s forwards;
  -moz-animation: undulate 5s forwards;
  -o-animation: undulate 5s forwards;
  animation: undulate 5s forwards;
  -webkit-animation-delay: 2500ms;
  animation-delay: 2500ms;
}

.circle1:nth-child(11n+6) {
  -webkit-animation: undulate 5s forwards;
  -moz-animation: undulate 5s forwards;
  -o-animation: undulate 5s forwards;
  animation: undulate 5s forwards;
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}

.circle1:nth-child(11n+7) {
  -webkit-animation: undulate 5s forwards;
  -moz-animation: undulate 5s forwards;
  -o-animation: undulate 5s forwards;
  animation: undulate 5s forwards;
  -webkit-animation-delay: 3500ms;
  animation-delay: 3500ms;
}

.circle1:nth-child(11n+8) {
  -webkit-animation: undulate 5s forwards;
  -moz-animation: undulate 5s forwards;
  -o-animation: undulate 5s forwards;
  animation: undulate 5s forwards;
  -webkit-animation-delay: 4000ms;
  animation-delay: 4000ms;
}

.circle1:nth-child(11n+9) {
  -webkit-animation: undulate 5s forwards;
  -moz-animation: undulate 5s forwards;
  -o-animation: undulate 5s forwards;
  animation: undulate 5s forwards;
  -webkit-animation-delay: 4500ms;
  animation-delay: 4500ms;
}

.circle1:nth-child(11n+10) {
  -webkit-animation: undulate 5s forwards;
  -moz-animation: undulate 5s forwards;
  -o-animation: undulate 5s forwards;
  animation: undulate 5s forwards;
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}

.circle1:nth-child(11n+11) {
  -webkit-animation: undulate 5s forwards;
  -moz-animation: undulate 5s forwards;
  -o-animation: undulate 5s forwards;
  animation: undulate 5s forwards;
  -webkit-animation-delay: 5500ms;
  animation-delay: 5500ms;
}

/* --------------------------------- 
  Animation 
--------------------------------- */
@-webkit-keyframes undulate {
  0% {
    width: 310px;
    height: 310px;
    opacity: 1;
  }
  14% {
    background-color: #D17FA8;
  }
  21% {
    background-color: #BA6090;
  }
  28% {
    background-color: #954B76;
  }
  35% {
    background-color: #743562;
  }
  42% {
    background-color: #5A2C56;
  }
  49% {
    background-color: #54214F;
  }
  56% {
    background-color: #461B46;
  }
  63% {
    background-color: #320F3B;
  }
  70% {
    background-color: #2C0A37;
  }
  77% {
    background-color: #250831;
  }
  100% {
    background-color: #150525;
    width: 560px;
    height: 560px;
    opacity: 0;
  }
}
@-moz-keyframes undulate {
  0% {
    width: 310px;
    height: 310px;
    opacity: 1;
  }
  14% {
    background-color: #D17FA8;
  }
  21% {
    background-color: #BA6090;
  }
  28% {
    background-color: #954B76;
  }
  35% {
    background-color: #743562;
  }
  42% {
    background-color: #5A2C56;
  }
  49% {
    background-color: #54214F;
  }
  56% {
    background-color: #461B46;
  }
  63% {
    background-color: #320F3B;
  }
  70% {
    background-color: #2C0A37;
  }
  77% {
    background-color: #250831;
  }
  100% {
    background-color: #150525;
    width: 560px;
    height: 560px;
    opacity: 0;
  }
}
@-ms-keyframes undulate {
  0% {
    width: 310px;
    height: 310px;
    opacity: 1;
  }
  14% {
    background-color: #D17FA8;
  }
  21% {
    background-color: #BA6090;
  }
  28% {
    background-color: #954B76;
  }
  35% {
    background-color: #743562;
  }
  42% {
    background-color: #5A2C56;
  }
  49% {
    background-color: #54214F;
  }
  56% {
    background-color: #461B46;
  }
  63% {
    background-color: #320F3B;
  }
  70% {
    background-color: #2C0A37;
  }
  77% {
    background-color: #250831;
  }
  100% {
    background-color: #150525;
    width: 560px;
    height: 560px;
    opacity: 0;
  }
}
@keyframes undulate {
  0% {
    width: 310px;
    height: 310px;
    opacity: 1;
  }
  14% {
    background-color: #D17FA8;
  }
  21% {
    background-color: #BA6090;
  }
  28% {
    background-color: #954B76;
  }
  35% {
    background-color: #743562;
  }
  42% {
    background-color: #5A2C56;
  }
  49% {
    background-color: #54214F;
  }
  56% {
    background-color: #461B46;
  }
  63% {
    background-color: #320F3B;
  }
  70% {
    background-color: #2C0A37;
  }
  77% {
    background-color: #250831;
  }
  100% {
    background-color: #150525;
    width: 560px;
    height: 560px;
    opacity: 0;
  }
}
/* --------------------------------- 
  Global 
--------------------------------- */
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #150525;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 0.5vw;
  color: white;
  text-align: center;
  padding-top: 78vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
