<div class="container" ng-init="loadEmotes();">
    <button id="logout" ng-click="auth.logout(); b();" >Log ud</button>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 ">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                            <li class="divider"></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body chati">
                    <ul class="chat">

                        <li class="clearfix" ng-class="{'left': msg.userid != user.id, 'right': msg.userid == user.id}"  ng-repeat="(name, msg) in messages" >

                        <span class="chat-img" ng-class="{'pull-left': msg.userid != user.id, 'pull-right': msg.userid == user.id}" >

                            <span class="glyphicon glyphicon-remove del pull-right" ng-click="a(name, msg);" ng-show="msg.userid == user.id"></span>
                            <img src="http://graph.facebook.com/{{ msg.userid }}/picture" alt="{{ msg.from }}" class="img-circle">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">

                                    <small class="text-muted" ng-class="{'pull-left': msg.userid == user.id, 'pull-right': msg.userid != user.id}" >
                                        <span class="glyphicon glyphicon-time"></span>{{ msg.time }}
                                    </small>      

                                    <strong class="primary-font" ng-class="{'pull-left': msg.userid != user.id, 'pull-right': msg.userid == user.id}">
                                        {{ msg.from }}
                                    </strong>

                                    </div>
                                <br /> <p ng-bind-html="emoticonize(msg.body);"></p>
                            </div>
                        </li>
<!--
                        <li class="right clearfix" ng-repeat="(name, msg) in messages" ng-if="msg.userid == user.id"><span class="chat-img pull-right" >
                            <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle">
                        </span>
                            <div class="chat-body clearfix" >
                                <div class="header">
                                    <small class=" text-muted">
                                        <span class="glyphicon glyphicon-time"></span>{{ msg.time }}
                                    </small>
                                    <strong class="pull-right primary-font">{{ msg.from }}</strong>
                                </div>
                                <p>{{ msg.body }}</p>
                            </div>
                        </li>  -->
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" type="text" ng-Disabled="user == ''" ng-model="msg" ng-keydown="addMessage($event)" placeholder="Skriv besked her...">
                        <span class="input-group-btn"> <button class="btn btn-warning btn-sm" id="btn-chat"> Send</button></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".chat").smilify();
</script>